.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(108, 255, 71);
}

button{
  background-color: rgb(246, 78, 32);
  color: rgb(31, 18, 214);
  margin-left: 5px;
  border-radius: 3px;
}

button:hover{
  background-color: rgb(200, 28, 227);
}